.App {
  text-align: center;
}

.App p {
  font-size: 24px;
  font-weight: bold;
}

.App button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.App button:hover {
  background-color: #ddd;
}